@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-foreground font-body;
}

h1, h2, h3, h4 {
  @apply font-heading font-extrabold;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

.bg-dot-grid {
  background-image: radial-gradient(#1E293B22 1.5px, transparent 1.5px);
  background-size: 20px 20px;
}